Python version : 3.10

Install LabelImg from the following site: https://pypi.org/project/labelImg/#files (for creating bounding box for image Annotation)

Create a python Env. Variable for PPE_OD

pip install ultralytics

following Lib. were installed:

MarkupSafe-3.0.2 certifi-2025.8.3 
charset_normalizer-3.4.3 
colorama-0.4.6 
contourpy-1.3.2 
cycler-0.12.1 
filelock-3.19.1 
fonttools-4.59.1 
fsspec-2025.7.0 
idna-3.10 
jinja2-3.1.6 
kiwisolver-1.4.9 
matplotlib-3.10.5 
mpmath-1.3.0 
networkx-3.4.2 
numpy-2.2.6 
opencv-python-4.12.0.88 
packaging-25.0 
pandas-2.3.1 
pillow-11.3.0 
psutil-7.0.0 
py-cpuinfo-9.0.0 
pyparsing-3.2.3 
python-dateutil-2.9.0.
post0 pytz-2025.2 
pyyaml-6.0.2 
requests-2.32.4 
scipy-1.15.3 
six-1.17.0 
sympy-1.14.0 
torch-2.8.0 
torchvision-0.23.0 
tqdm-4.67.1 
typing-extensions-4.14.1
tzdata-2025.2 
ultralytics-8.3.179 
ultralytics-thop-2.0.15 
urllib3-2.5.0
